<html>
<head>

	<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	<title>Sign Up Page</title>

</head>

<body>


	<h1>New Account</h1>
	
	<div class="auth">
		<h3>Enter Details</h3>
		<form action="{{ url_for('signup') }}" method="POST">
			<p>Email: <input type="text" name="email" required></p>
			<p>Password: <input type="password" name="password" required></p>
			
			<button type="submit" class="button-style">Sign Up</button>
		</form>
	</div>

	<a href="{{ url_for('home') }}" class="button-style">
        <button class="button-style">Home</button>
    </a>

</body>